div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.container {
  display: flex;
  padding: 10px;
  justify-content: center;
  width: 100%;

  flex-wrap: wrap;
}

.container-text {
  padding: 10px;
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .container-text {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .container-text {
    width: 100%;
  }
}
