body {
  margin: 0px;
}

div,
input,
textarea {
  box-sizing: border-box;
}

.shop-bg {
  background-color: rgb(206, 190, 190);
}

.shop-container {
  display: flex;
  width: 80%;
  max-width: 700px;
  min-width: 200px;
  margin: 0 auto;
}

.shop-item {
  width: 33%;
  padding: 10px;
  position: relative;
}

.shop-item img {
  width: 100%;
}

.overlay-top {
  position: absolute;
  /* width: 100%;  <- 지우기 */
  /* height: 100%; <- 지우기 */

  /* 부모의 패딩이 10px이므로, 사방에서 10px씩 안으로 들어오라고 지정합니다 */
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
}

.overlay-top:hover .overlay {
  opacity: 1;
  margin-top: 40%;
  /* 마우스를 올린 후 위로 올라가기  */
}

.overlay {
  width: 100%;
  height: 60%;
  /* 마우스를 올리기 전에는 밑으로 내려와 있기 */
  margin-top: 110%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: all 0.5s;
  font-size: 20px;
  color: white;
}
